{% load i18n movie_tags %}
<div class="main-banner inner bg bg1" id="home">
    <!-- header -->
    <header class="header">
        <div class="container-fluid px-lg-5">
            <!-- nav -->
            <nav class="py-4">
                <div id="logo">
                    <h1>
                        <a href="{% url 'movies_list' %}" class="editContent">DjangoMovie</a>
                    </h1>
                </div>

                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop">
                <ul class="menu mt-2">
                    <li class="active"><a href="{% url 'movies_list' %}">Главная</a></li>
                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-2" class="toggle">Категории <span
                                class="fa fa-angle-down" aria-hidden="true"
                                style="outline: none; cursor: inherit;"></span> </label>
                        <a href="#">Категории <span class="fa fa-angle-down"
                                                    aria-hidden="true"></span></a>
                        <input type="checkbox" id="drop-2">
                        <ul>
                            {% get_categories as categories %}
                            {% for category in categories %}
                            <li><a href="moviesingle.html">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <span>{{ user.username }}</span>
                        <a href="{% url 'account_logout' %}">Выход</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'account_login' %}">Вход</a>
                    </li>
                    <li>
                        <a href="{% url 'account_signup' %}">Регистрация</a>
                    </li>
                    {% endif %}
                    <li>
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="text" value="{{ redirect_to }}">
                            <select name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="go">
                        </form>
                    </li>
                </ul>
            </nav>
            <!-- //nav -->
        </div>
    </header>
</div>

<ol class="breadcrumb editContent">
    <li class="breadcrumb-item">
        <a href="{% url 'movies_list' %}" class="editContent">Home</a>
    </li>
    <li class="breadcrumb-item active editContent" style="outline: none; cursor: inherit;">
        Single
    </li>
</ol>
