{% load movie_tags %}
<div class="main-banner inner bg bg1" id="home">
    <!-- header -->
    <header class="header">
        <div class="container-fluid px-lg-5">
            <!-- nav -->
            <nav class="py-4">
                <div id="logo">
                    <h1>
                        <a href="{% url 'movies_list' %}" class="editContent">DjangoMovie</a>
                    </h1>
                </div>

                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop">
                <ul class="menu mt-2">
                    <li class="active"><a href="{% url 'movies_list' %}">Главная</a></li>
                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-2" class="toggle">Категории <span
                                class="fa fa-angle-down" aria-hidden="true"
                                style="outline: none; cursor: inherit;"></span> </label>
                        <a href="#">Категории <span class="fa fa-angle-down"
                                                    aria-hidden="true"></span></a>
                        <input type="checkbox" id="drop-2">
                        <ul>
                            {% get_categories as categories %}
                            {% for category in categories %}
                            <li><a href="moviesingle.html">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="contact.html"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Вход</a>
                    </li>
                </ul>
            </nav>
            <!-- //nav -->
        </div>
    </header>
</div>

<ol class="breadcrumb editContent">
    <li class="breadcrumb-item">
        <a href="{% url 'movies_list' %}" class="editContent">Home</a>
    </li>
    <li class="breadcrumb-item active editContent" style="outline: none; cursor: inherit;">
        Single
    </li>
</ol>
