<ul class="pagination">
    {% if page_obj.has_previous %}
        {% if page_obj.number|add:'-3' > 1 %}
        <li class="pagination__item">
            <a href="?{{ year }}{{ genre }}page=1"></a>
        </li>
        {% endif %}
        {% if page_obj.number|add:'-3' >= 3 %}
        <li class="pagination__item pagination__item--dots">
            <a href="?{{ year }}{{ genre }}page={{ page_obj.previous_page_number|add:'-3' }}">
                <span class="pagination__link">...</span>
            </a>
        </li>
        {% endif %} 
    {% endif %}
    
    {% if paginator.page_range|length > 1 %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="pagination__item active">
                <a href="#" class="pagination__link">{{ i }}</a>
            </li>
            {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
            <li class="pagination__item">
                <a href="?{{ year }}{{ genre }}page={{ i }}" class="pagination__link">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if page_obj.has_next %}
        {% if page_obj.number|add:'4' < page_obj.paginator.num_pages %}
            <li class="paginaion__item pagination__item--dots">
                <a href="?{{ year }}{{ genre }}page={{ page_obj.next_page_number|add:'3' }}">
                    <span class="pagination__link">...</span>
                </a>
            </li>
        {% endif %}
        {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
            <li class="pagination__item">
                <a href="?{{ year }}{{ genre }}page={{ page_obj.paginator.num_pages }}" class="pagination__link">
                    {{ page_obj.paginator.num_pages }}
                </a>
            </li>
        {% endif %}
    {% endif %}
</ul>
<style>
    .pagination {
        width: auto;
        margin: 0 auto
    }

    .pagination,
    .pagination__link {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center
    }

    .pagination__link {
        position: relative;
        left: -1px;
        top: 1px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: all .2s ease-in-out;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        color: #6163b9
    }

    @media only screen and (max-width: 767px) {
        .pagination__link {
            font-size: 15px
        }
    }

    @media only screen and (min-width: 1025px) {
        .pagination a.pagination__link:hover {
            background: rgba(102, 88, 175, .15)
        }
    }

    .pagination__item {
        transition: all .2s ease-in-out;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        z-index: 1;
        position: relative;
        margin: 0 2px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center
    }

    @media only screen and (max-width: 767px) {
        .pagination__item {
            margin: 0 2px;
            width: 33px;
            height: 33px
        }
    }

    .pagination__item:first-child {
        margin-left: 0
    }

    .pagination__item:last-child {
        margin-right: 0
    }

    @media only screen and (max-width: 1023px) {
        .pagination__item:nth-child(3),
        .pagination__item:nth-child(9) {
            display: none
        }
    }

    @media only screen and (min-width: 1025px) {
        .pagination__item.active:hover
        .pagination__link {
            color: #fff;
            background: #6658af
        }
    }

    .pagination__item.active .pagination__link {
        color: #fff;
        background: #6658af
    }

    .pagination__item--dots .pagination__link {
        color: #bfc0f1
    }
</style>